body {
    background: #999;
    text-align: center;
}

.controls {
    width: 600px;
    margin: auto;
    text-align: left;
}

.show-if-tool-is-pen {
    display: none;
}
.show-if-tool-is-pen.pen {
    display: inline;
}


