<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS Drawing App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <h1>Drawing app</h1>

  <div class="canvas" canvas canvas-width="600" canvas-height="400"></div>

  <div class="controls" ng-controller="ToolsStateController">
      
      <select ng-controller="ToolController" 
              ng-model="selectedTool" 
              ng-options="tool.name for tool in tools" 
              ng-change="setSelectedTool()"></select>
      
      <select ng-controller="ColourController"
              ng-model="selectedColour"
              ng-options="colour.name for colour in colours"
              ng-change="setSelectedColour()"
              class="show-if pen ellipse {{selectedTool.id}}-selected"></select>
      
      <select ng-controller="SizeController"                
              ng-model="selectedSize" 
              ng-options="size.name for size in sizes" 
              ng-change="setSelectedSize()"
              class="show-if pen ellipse {{selectedTool.id}}-selected"></select>
      
      <input ng-controller="ClearController" type="button" ng-click="clear()" value="Clear screen"/>
      
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/raphael/raphael.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
